* {
    box-sizing: border-box;
}
a{
	text-decoration:none;
}
ul{
	list-style-type:none;
	padding:0;
}
body{
	font-weight: bold;
    height: 1024px;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    display: flex;
    background:#ecf0f5;
	padding:0 0;
	margin:0 0;
}
.sidebar{
    width: 16%;
    background-color: #212529;
}
.content{
    flex: 1;
	background-color:white;
}
.sidebarLogo{
	width:100%;
	height:60px;
}

.sidebarLogo .logo{
	background-color:#343A40;
	width:100%;
	height:100%;
    font-size: 25px;
	color:#f2f2f2;
	display:flex;
	flex-direction:column;
    align-items: center;
    justify-content: center;
}
.TECH{
	color:#1da1f2;
}
.sidebar .profile{
	display:flex;
	flex-direction:column;
    align-items: center;
    justify-content: center;
}
.sidebar .profile #profile-pic{
	border-radius:80px;
	margin:20px;
	height:90px;
	

}
.sidebar .profile span{
	font-family: Arial, Helvetica, sans-serif, sans-serif;
	color:#ecf0f5;
	display:block;
	font-size:15px;
	text-align:center;
}
.side-menu{
	width:100%;
	height:600px;
	margin-top:30px;
}
.side-menu .menu{
	height:50px;
	margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
	border-radius:30px;
	transition: 0.2s;
}
.side-menu .menu:hover{
	background:#1da1f2;
}
.side-menu .menu a{
	color:#ecf0f5;
	display:block;
	padding: 15px 0 15px 10px;
	font-size:14px;
}
.header{
	position:absolute;
	width:84%;
	height:60px;
	background-color:#343A40;
}
.header .navbar{
	display:block;
	height:40px;
	width:200px;
	margin-left:50px;
}
.header .navbar .navbar-item{
	float:left;
	padding:15px;
	padding-top:5px;
}
.header .navbar .navbar-item a{
	color:#666666;
}
#bell-span{
	display: inline-block;
    padding: 3px 7px;
    font-size: 12px;
    line-height: 1;
    color: #ecf0f5;
    background-color: #1da1f2;
	border-radius: 10px;
}
#logout{
	position:relative;
	color: #f2f2f2;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #64c3c2;
	border-color:#DC3545;
    padding: 5px 15px;
    background: #DC3545;
	float:right;
	bottom:55px;
	margin-right:15px;
}
.musterilerHeader{
	width:100%;
	height:40px;
	margin-top:100px;
	color:#22242a;
}
.musterilerHeader i{
	float:left;
	display:inline-block;
	font-size:20px;
	padding-left:5px;
	padding-top:2px;
}
.musterilerHeader h3{
	float:left;
	display:inline-block;
	margin:0 0;
	padding-left:10px;
}
.content .form-container{
	width:84%;
	height:350px;
	margin-top:40px;
	margin-left:150px;
}
.content .form-container .musteriAdd{
	color:#ecf0f5;
	position:absolute;
	float:left;
	display:inline-block;
	height:270px;
	background-color:#36393f;
	border-radius:15px;
}
.content .form-container .musteriAdd form{
	background-color:#36393f;
	border-radius:15px;
}
.content .form-container .musteriAdd span{
	display:flex;
	flex-direction:column;
    align-items: center;
    justify-content: center;
	padding-top:10px;
	padding-bottom:30px;
}
.content .form-container .personelList{
	position:relative;
	width:450px;
	margin-left:550px;
	display:inline-block;
	background-color:#36393f;
	border-radius:0px 0px 15px 15px;
}
.content .form-container .musteriAdd .form-input{
	margin-bottom:4px;
	display: block;
	width: 100%;
	font-size: 20px;
	line-height: 1.2;
	color:#343a40;
	background-color: #ecf0f5;
	border:1px solid;
	border-radius:8px;
}
.table{
	padding-left:10px;
	padding-right:10px;
}
.table #tableButton{
	color: #f2f2f2;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #64c3c2;
    background: #1da1f2;
	border-color:#1da1f2;
}
.table th{
	border:1px;
	padding-left:8px;
	color:#ecf0f5;
}
.table .personelcol1{
	color:#ecf0f5;
	padding-top:10px;
	border:1px;
	padding-left:8px;
}
.table .mustericol{
	padding-top:10px;
	border:1px;
	padding-left:8px;
	color:#ecf0f5;
}
.content .form-container #personelGoster{
	display: flex;
	width: 450px;
	color:#ecf0f5;
	flex-direction:column;
    align-items: center;
    justify-content: center;
	height:50px;
	background-color:#36393f;
	margin-left:550px;
	margin-right:50px;
	border-radius:15px 15px 0px 0px;
}
.content .report{
	height: 300px;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
}
.content .report span{
	color:#ecf0f5;
	display:flex;
	flex-direction:column;
    align-items: center;
    justify-content: center;
	height:50px;
	margin-left:400px;
	margin-right:400px;
	background-color:#343A40;
	border:1px solid;
	border-color:#22242a;
	border-radius:15px;
	
}
.content .report .table{
	margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
	background-color:#36393f;
}

.personellistCol{
	color:#343a40;
}
.content .report .table #editButton{
	border:0.5px solid;
	color:#1da1f2;
	font-size:12px;
	border-radius:10px;
	border-color:#1da1f2;
	padding:5px;
	float:right;
	background-color:#1da1f2;
	border-color:#1da1f2;
	color:#ecf0f5;
}
.content .report .table #silButton{
	margin-left:20px;
	border:0.5px solid;
	color:#1da1f2;
	font-size:12px;
	border-radius:10px;
	border-color:#1da1f2;
	padding:5px;
	float:right;
	background-color:#d9534f;
	border-color:#d9534f;
	color:#ecf0f5;
}

@media (min-width: 1750px) {
	.content .form-container{
		margin-left: 250px;
	}

	.content .form-container .musteriAdd{
		margin-left: 25px;
	}

	.content .form-container #personelGoster{
		margin-left: 675px;
	}

	.content .form-container .personelList{
		margin-left: 675px;
	}

	body{
		font-weight: bold;
	}

	
}